table {
  border-collapse: collapse;
  font-family: Calibri, sans-serif;
}

colgroup,
tbody {
  border: solid medium;
}

td {
    padding: none;
    border: 1px solid #000000;
    background-color: #ffffff;
    text-align: center;
}

input {
    width: 30px;
    height: 30px;
    border: 1px solid #ffffff;
    font-size: 14px;
    text-align: center;
}